@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #5044e5;
}

@keyframes floatGlow {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

@keyframes slowSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-float-glow {
  animation: floatGlow 6s ease-in-out infinite;
}

.animate-slow-spin {
  animation: slowSpin 25s linear infinite;
}
